.modal__form{
    display: block !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 12px grey;
    border-radius: 20px;
    width: 90%;
    padding: 20px 10px 50px;
    z-index: 200;
    .close{
        cursor: pointer;
        .icon{
            font-size: 26px;
        }
    }
    .title{
        text-align: center;
        margin-bottom: 10px;
        h2{
            font-style: italic;
            text-decoration: underline;
        }
    }
}

 .hide__form{
    display: none;
}

@media screen and (max-width: 360px) {
    .modal__form{
        top: 0px;
        left: 0px;
        transform: translate(0, 0);
        width: 100%;
        padding: 5px 10px ;
        border-radius: 0px;
        height: 100%;
    }
}


@media screen and (min-width:1060px){
    .modal__form{
        width: 85%;
    }   
}
@media screen and (min-width:1300px){
    .modal__form{
        width: 65%;
    }   
}
