.feedback{
    margin-top: 30px;
    position: relative;
    .feedback__container{
        padding: 10px 15px;
        // media query
        @media screen and (min-width: 760px){
            max-width: 600px;
            margin: auto;
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgb(79, 104, 245) !important;
            box-shadow: 0px 1px 4px grey;
            margin: 10px 10px;
            border-radius: 12px;
            padding: 20px;
            .icon{
                color: #fff0f1;
                font-size: 46px;
            }
            h2{
                padding: 0px 0 10px;
                font-size: 26px;
                color: #fff0f1;
            }
            p{
                color: rgb(231, 227, 209);
                line-height: 1.5em;
            }
        }
    }
}
.feedback__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin: 0 30px;
        button{
            width: 100%;
            cursor: pointer;
        }
        .prev{
            border: 1px solid #df4163;
        }
        .next{
            background-color: #df4163;
            color: #fff;
        }
    }
}

@media screen and (min-width:860px){
    
}