.feedback{
    // margin-top: 30px;
    max-width: 95%;
    margin: 0 auto;
    position: relative;
    height: 340px;
    overflow-x: scroll;
    scroll-behavior: smooth;
&::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
    .feedback__container{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        // padding: 10px 15px;
        .content{
            flex: 1;
            min-width: 340px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #2c5252;
            box-shadow: 0px 1px 4px grey;
            margin: 10px 10px;
            border-radius: 12px;
            padding: 20px;
            .icon{
                color: #05E5C8;
                font-size: 46px;
            }
            h2{
                padding: 0px 0 10px;
                font-size: 26px;
                color: #c5e9e9;
            }
            q{
                // text-align: left;
                color: #e5e7e7;
                line-height: 1.5em;
            }
        }
    }
}
.feedback__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin: 0 30px;
        button{
            width: 100%;
            cursor: pointer;
        }
        .prev{
            border: 1px solid #df4163;
        }
        .next{
            background-color: #df4163;
            color: #fff;
        }
    }
}

@media screen and (max-width:360px){
    .feedback{
        width: 100%;
        margin: auto;
        height: 400px;
        .feedback__container{
            box-shadow: 0px 1px 4px grey;
            .content{
                min-width: 260px;
            }
        }
    }
}
@media screen and (min-width:1060px){
    .feedback{
        width: 70%;
        margin: auto;
        .feedback__container{
            box-shadow: 0px 1px 4px grey;
            .content{
                min-width: 340px;
            }
        }
    }
}