.footer{
  margin-top: 50px;
  .footer__container{
      background-color: #141b1b;
      .links{
          padding: 10px 10px 0;
          margin-bottom: 20px;
          ul{
              padding: 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: rgb(235, 235, 235);
              .ul__div{
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
              li{
                  
                  text-transform: capitalize;
                  padding-left: 5px;
                  list-style: none;
              }
          }
      }
      .contact__info{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .contact__info__div{
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 5px 0;
              .icons{
                  color: rgb(214, 214, 214);
              }
              p{
                cursor: pointer;
                color: rgb(235, 235, 235);
                padding-left: 10px;
              }
          }
      }
      .socials{
          margin: 20px 0;
        color: rgb(214, 214, 214);
        h3{
              text-align: center;
          }
          .icons{
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin: 20px 50px 10px;
          }
      }
      .copyright{
          border: 1px solid rgb(44, 44, 44);
          padding: 10px 0;
          text-align: center;
          p{
            color: rgb(189, 189, 189);
          }
      }
  }
}