.services{
    margin: 20px 0;
    .services__container{
        padding: 0 15px;
        .title{
            text-align: center;
            h2{
                color: #2c2c5f;
                text-shadow: 0px 2px 20px #fff;
            }
        }
        .services__body{
            .content{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: rgba(240, 240, 240, 0.7);
                box-shadow: 0px 1px 4px grey;
                padding:20px;
                margin: 25px 10px;
                border-radius: 12px;
                .content__body{
                    padding-left: 40px;
                    width: 90%;
                    h3{
                        color: var(--mainHeader-Color);
                        padding: 10px 0;
                    }
                    p{
                        line-height: 1.5em;
                    }
                }

            }
            :hover{
                background-color: rgb(223, 65, 99);
                color: #fff !important;
            }
        }
    }
}

// media query
@media screen and (min-width: 760px){
    .services{
        .services__container{
            margin-top: 100px;
            .services__body{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

}

@media screen and (min-width:1060px){
    .services{
        .services__container{
            width: 70%;
            margin: auto;
            .title{
                max-width: 60%;
                margin: auto;
            }
        }
    }
}

@media screen and (min-width:1360px){
    .services{
        .services__container{
            .services__body{
                grid-template-columns: repeat(3, 1fr)
            }
        }
    }
}