.services {
  margin: 20px 0;
}

.services .services__container {
  position: relative;
  max-width: 100%;
  height: 680px;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.services .services__container .services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
}

.services .services__container .services__body .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 4px grey;
          box-shadow: 0px 1px 4px grey;
  padding: 20px;
  margin: 25px 10px;
  border-radius: 12px;
}

.services .services__container .services__body .content .content__body h3 {
  color: #037969;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 22px;
}

.services .services__container .services__body .content .content__body p {
  line-height: 1.5em;
}

.services .services__container .services__body .content .content__body img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.services .services__container .services__body :hover {
  background-color: rgba(240, 240, 240, 0.3);
}

.services .services__btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 100px;
}

.services .services__btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  margin: 0 30px;
}

.services .services__btn .btn button {
  width: 100%;
  cursor: pointer;
}

.services .services__btn .btn .prev {
  border: 1px solid #df4163;
}

.services .services__btn .btn .next {
  background-color: #df4163;
  color: #fff;
}

@media screen and (min-width: 860px) {
  .services .services__container {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 760px) {
  .services .services__container {
    position: relative;
    max-width: 100%;
    height: 680px;
    margin: 0 auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .services .services__container .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
  }
  .services .services__container .services__body .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 260px;
  }
  .services .services__container .services__body .content:hover {
    border: 1px solid #adacac;
    border-radius: 12px;
  }
}
/*# sourceMappingURL=services.css.map */