.showCase{
    width: 100%;
    .showCase__bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
        width: 100%;
        height: 70vh;
        background: radial-gradient(ellipse at bottom,rgba(13, 37, 253, 0.7) 0,rgba(90, 55, 248, 0.7) 100%);
    }
    .showCase__container{
        .showCase__img{
            z-index: 200;
            background-image: url('../images/vector_sh.png');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 200px;
            margin-top: 40px;
            
        }
    }
}

@media screen and (max-width: 390px){
    .showCase{
        .showCase__bg{
            height: 100vh !important;
        }
    }
}